{% extends 'base.html' %}
{% load staticfiles%}
{% block page_title %}Home page{% endblock %}


{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container-fluid h-100 align-items-center">
        <div class="row">
            <div class="col-md-6"><img src="{% static 'img/img-masthead.png' %}" alt="Image of camera and phone"></div>
            <div class="col-md-6 my-auto text-center">
                <h1 class="my-0 text-uppercase">CAM-PAL</h1>
                <h2 class="text-white mt-2 mb-5 text-center nowrap">The answer to taking Professional quality photos</h2>
                {% if not user.is_authenticated %}
                <div class="text-center"><a href="#about" class="btn btn-primary">Register</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}