{% extends 'base.html' %}
{% load staticfiles%}
{% block page_title %}Home page{% endblock %}


{% block content %}

<!-- About Section -->
<section id="info" class="info-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">CAM-PAL</h2>
                <p class="text-white-50"><img src="{% static 'img/about_mob.png' %}" alt="Image of phone" width="40%"
                        style="float: right">This is a support site for CAM-PAL.
                    This is where CAM-PAL users can come and submit any issues they have with the software or request
                    new features to be developed.
                </p>
                <p class="text-white-50">Bugs can be added without charge. We will endeavour to address any issues that
                    users submit for review. </p>
                <p class="text-white-50">Requests for new features will require a minimum purchase of 1 hour at €50
                    per hour. Each feature will require a minimum of 10 hours (€500) to be raised before the CAM-PAL
                    developers will consider reviewing/developing a feature request.</p>
            </div>
        </div>

    </div>
</section>

<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center mb-2">
                <span class="copyright">&copy; CAM-PAL 2018</span>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-4 col-lg-4 mr-auto text-center">
                        <a href="#" target="blank" title="Instagram"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-4 col-lg-4 mr-auto text-center">
                        <a href="#" target="blank" title="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-4 col-lg-4 mr-auto text-center">
                        <a href="#" target="blank" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}