{% extends 'base_pages_blog.html' %}
{% block page_title %}Blog{% endblock %}

{% block page_heading %}Blog{% endblock %}
{% block page_heading_sub %}A place to converse about all things Photography related{% endblock %}
{% block content %}
{% for post in posts %}
<div class="container-fluid">
    <div class="row mb-4 mt-4 border-bottom border-warning"></div>
    <div class="row">
        <div class="col-3 col-md-2 text-center">
            <i class="fas fa-camera-retro"></i>
            <p><span class="boldtext">Author:</span> {{ post.author }}</p>
            <p>
                {% if user.profile.is_donor %}
                <span class="">{{ post.author }} is a donor</span>
                {% endif %}
            </p>
        </div>
        <div class="col-9 col-md-10">
            <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
            <p> {{ post.published_date|date:"D d M Y" }} </p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}