{% extends 'base_pages_blog.html' %}
{% load bootstrap_tags %}

{% block page_title %}Blog post form{% endblock %}

{% block content %}
<!-- CREATE NEW OR EDIT BLOG POST -->
{% if request.path == "/blog/new/" %}
<h2>New post<br>
    <small class="text-muted">Create new blog post</small></h2>
{% else %}
<h2>Edit post<br>
    <small class="text-muted">Edit this blog post</small></h2>
{% endif %}
<div id="issueform">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
                    <button type="submit" name="cancel" value="Cancel" formnovalidate class="btn btn-primary cancel"><i
                            class="fas fa-arrow-left"></i> Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}