{% extends 'base_pages_blog.html' %}
{% load bootstrap_tags %}
{% block page_title %}Blog post{% endblock %}

{% block page_heading %}Blog Post{% endblock %}
{% block page_heading_sub %}Post details{% endblock %}

{% block content %}
<!-- BLOG POST DETAIL INCLUDING ITS COMMENTS-->
<div class="container-fluid">
    <div class="row mb-4 mt-4 border-bottom border-warning"></div>
    <div class="row">
        {% if post.image %}
        <div class="col-12 col-md-3">
            <img class="img-blogpost" src="{{ MEDIA_URL }}{{ post.image }}">
        </div>
        {% endif %}
        <div class="col-12 col-md-9">
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-12">
                    <span class="boldtext font-italic">Published: </span>{{ post.published_date|date:"D d M, Y" }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="boldtext font-italic">Author: </span>{{ post.author }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{ post.content }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="boldtext font-italic">Views: </span>{{post.views}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><span class="boldtext font-italic">Tag:</span> {{ post.tag }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'get_posts' %}" class="btn btn-primary mt-2"><i class="fas fa-arrow-left"></i> Back
                        to Blog</a>
                    {% if user.username == post.author.username %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary mt-2"><i class="far fa-edit"></i>Edit
                        Post</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-primary mt-2"><i class="far fa-edit"></i>Delete
                        Post</a>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row mb-4 mt-4 border-bottom border-warning"></div>
</div>
<!-- Comment -->
<div class="container-fluid commentform">
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ comment_form | as_bootstrap }}
                <div class="text-center mb-2">
                    <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Add Comment</button>
                    <button type="submit" name="cancel" value="Cancel" formnovalidate class="btn btn-primary cancel"><i
                            class="fas fa-arrow-left"></i>
                        Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- PAGINATION -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation" class="text-lg-center">
                {% if postcomments.has_other_pages %}
                <ul class="pagination">
                    {% if postcomments.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ postcomments.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><span><a class="page-link" href="#">Previous</a></span></li>
                    {% endif %}
                    {% for i in postcomments.paginator.page_range %}
                    {% if postcomments.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a> <span class="sr-only">(current)</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if postcomments.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ postcomments.next_page_number }}">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><span><a class="page-link" href="#">Next</a></span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>

<!-- Reults Info -->
{% if postcomments.paginator.count %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <span class="boldtext">{{ postcomments.paginator.count }} </span> Results in total.
        </div>
        <div class="col-12 col-md-6 text-center">
            Viewing Posts Comments {{ postcomments.start_index }} to {{ postcomments.end_index }}
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <span>There are no comments for this blog post. </span>
        </div>
    </div>
</div>
{% endif %}

<div id="issueform">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                {% for postcomment in postcomments %}
                {% if not postcomment.is_hidden %}
                <div class="row">
                    <div class="col-12">
                        <div class="post-comment-box">
                            <span class="boldtext">Posted by:</span> <span class="text-success">{{ postcomment.author}}</span>
                            <br>
                            <span class="text-success"> {{postcomment.created_date }}</span><br>
                            {% if postcomment.is_reported %}
                            <span class="text-danger font-italic boldtext"> *This comment has been reported</span>
                            {% endif %}
                            <p>{{ postcomment.comment }}</p>
                            {% if postcomment.is_reported != True %}
                            <p class="text-right report-badge"><a href="{% url 'blogpost_comment_report' postcomment.id %}"
                                    class="badge badge-danger">Report</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-right pb-3">
            <a href="#top">Back to Top</a> <i class="fas fa-arrow-circle-up"></i>
        </div>
    </div>
</div>
{% endblock %}