{% extends 'base_pages_blog.html' %}
{% block page_title %}Blog post{% endblock %}

{% block page_heading %}Blog Post{% endblock %}
{% block page_heading_sub %}Post details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4 mt-4 border-bottom border-warning"></div>
    <div class="row">
        {% if post.image %}
        <div class="col-12 col-md-4">
            <img class="img-blogpost" src="{{ MEDIA_URL }}{{ post.image }}">
        </div>
        {% endif %}
        <div class="col-12 col-md-8">
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-12">
                    <span class="boldtext font-italic">Published: </span>{{ post.published_date|date:"d M, Y" }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{ post.content }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="boldtext font-italic">Views: </span>{{post.views}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><span class="boldtext font-italic">Tag:</span> {{ post.tag }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'get_posts' %}" class="btn btn-primary">Back to Blog</a>
                    {% if user.username == post.author.username %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit Post</a>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

{% endblock %}