{% extends 'base.html' %}
{% block page_title %}Password reset page{% endblock %}

{% block javascript %}
<script>
    $("#id_email").change(function () {
        $('.text-danger').hide();
        var form = $(this).closest("form");
        $.ajax({
            url: form.attr("data-validate-email-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.is_taken == false) {
                    $("<p class='text-danger'>" + data.error_message + "</p>").insertAfter("#id_email");
                }
            }
        });

    });
</script>
{% endblock %}

{% block content %}

<div class="container reset-container text-center">
    <h1>
        Password reset
    </h1>
</div>

<div class="container text-center pw-reset-container">
    <div class="row">
        <div class="col-12">
            <h2>Enter your email address</h2>
            <form method="POST" data-validate-email-url="{% url 'validate_email' %}">
                {% csrf_token %}
                {{ form.email.error }}
                <div class="text-center">
                    <label for="id_email" Email address:></label>
                    {{ form.email }}<br>
                    <button class="btn btn-primary mt-3">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}