{% extends 'base.html' %}
{% block page_title %}Password reset page{% endblock %}


{% block content %}

<div class="container reset-container text-center">
    <h1>
        Password reset
    </h1>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h2>Enter your email address</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.email.error }}
                <div class="text-center">
                    <label for="id_email" Email address:></label>
                    {{ form.email }}<br>
                    <button class="btn btn-primary mt-3">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}