body,
html {
    height: 100%;
}

/* GENERAL */

.hide-first {
    display: none;
}

.boldtext {
    font-weight: 900;
}

.move-right {
    margin-left: 50px;
}

.active-link {
    font-weight: 600;
}

.issues-button {
    width: 100%;
    white-space: normal;
}

.comment-box,
.post-comment-box {
    padding: 10px;
}

.comment-box {
    background-color: #4E5D6C;
}

.post-comment-box {
    background-color: rgb(236, 236, 236);
}

.comment-box p,
.post-comment-box p {
    margin-bottom: 0;
}

.img-blogpost {
    width: 100%;
    max-width: 300px;
}

.fas.fa-camera-retro {
    font-size: 2rem;
}

/* LAYOUT */

.links-col {
    background-color: #4E5D6C;
    border-right: 1px solid #333;
    -webkit-box-shadow: 0 -10px 11px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -10px 11px rgba(0, 0, 0, 0.15);
    height: 100vh;
}

.links-col-blog {
    background-color: #999;
    border-right: 1px solid #666;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.15);
}

.content-col h1 {
    margin-top: 35px;
}

#issueform .container {
    margin-left: 0;
}

.login-container,
.reset-container,
.register-container {
    margin-top: 10rem;
}

/* ABOUT SECTION */

.about-section {
    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
    margin-bottom: 5rem;
}

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
}

footer {
    padding: 3rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#4E5D6C), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(78, 93, 108, 0.8)));
    background: linear-gradient(to bottom, #4E5D6C 0%, rgba(78, 93, 108, 0.9) 75%, rgba(22, 22, 22, 0.7) 100%);
    width: 100%;
}

/* NAVBAR Bootstrap OVERRIDES */

.navbar {
    border-bottom: 1px solid #546a7b;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-link {
    white-space: nowrap;
}

/*  HOMEPAGE MASTHEAD */

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("/static/img/bg-masthead.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 40%, #161616 100%), url("/static/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
}

.masthead img {
    max-width: 100%;
}

.messages-wrapper {
    z-index: 1020;
    background: transparent;
    min-width: 30%;
    position: fixed;
    width: 100%;
}

.messages {
    width: 70%;
    position: fixed;
    left: 33%;
    top: 48px;
    border: 1px solid transparent;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Bugs & Features */

.list-group-item {
    padding: 0;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #8d9dad;
    opacity: 1;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .links-col,
    .links-col-blog {
        height: 100vh;
    }
    .list-group-item {
        margin: 0.75rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 4.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
    .links-col,
    .links-col-blog {
        height: 100vh;
    }
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d;
    }
    .projects-section .project-text {
        padding: 3rem;
        font-size: 90%;
    }
}