{% extends 'base_pages.html' %}
{% load poll_tags %}
{% block page_title %}Most Recent Bugs and Features{% endblock %}
{% block page_heading %}Recent Bugs and Features{% endblock %}
{% block page_heading_sub %}List of the most Recent Bugs and Features{% endblock %}



{% block content %}
<div class="row mb-4 mt-4 border-bottom border-success"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% poll %}
        </div>
    </div>
</div>

<!-- Internal home page showing most recent bugs and features -->
<div class="row mb-4 mt-4 border-bottom border-success"></div>
<div id="issueform">
    <div class="container">
        <div class="row mb-4">
            <div class="col-6 col-md-6 my-auto">
                <h4>Title</h4>
            </div>
            <div class="col-3 col-md-3 d-none d-lg-block my-auto">
                <h4>Reference Number</h4>
            </div>
            <div class="col-6 col-md-3 d-none d-lg-block my-auto"></div>
        </div>
    </div>
</div>
<!-- BUGS -->
{% for bug in bugs %}
<div id="issueform">
    <div class="container">
        <div class="row mb-4">
            <div class="col-6 col-md-6">{{ bug.title|truncatewords:10 }}</div>
            <div class="col-3 col-md-3 d-none d-lg-block">{{ bug.ref }}</div>
            <div class="col-6 col-md-3 col-lg-3"><i class="fas fa-book-reader"></i> <a href="{% url 'bug_detail' bug.id %}"
                    class="mt-2">View bug details</a></div>
        </div>
    </div>
</div>
{% endfor %}

<!-- FEATURES -->
{% for feature in features %}
<div id="issueform">
    <div class="container">
        <div class="row mb-4">
            <div class="col-6 col-md-6">{{ feature.title|truncatewords:10 }}</div>
            <div class="col-3 col-md-3 d-none d-lg-block">{{ feature.ref }}</div>
            <div class="col-6 col-md-3 col-lg-3"><i class="fas fa-book-reader"></i> <a href="{% url 'feature_detail' feature.id %}"
                    class="mt-2">View feature details</a></div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}