{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Login page{% endblock %}

{% block page_heading %}Loginz{% endblock %}

{% block content %}
<div class="container login-container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-1"></div>
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <p class="pt-4 text-center"><a href="{% url 'password_reset' %}">Forgotten your Password?</a></p>
        </div>
        <div class="col col-lg-1"></div>
    </div>
</div>

{% endblock %}