{% extends 'base.html' %}

{% block page_title %}{{user}}'s PRofile page{% endblock %}

{% block page_heading %}{{user}}'s PRofile page{% endblock %}

{% block content %}
<p>User email: {{ user.email }}</p>
<p>User firstname: {{ user.first_name }}</p>
<p>User lastname: {{ user.last_name }}</p>
<p>User username: {{ user.username }}</p>

{% for orders in user_orders %}
<table cellpadding=10px>
    <tr>
        <th>id</th>
        <th>full_name</th>
        <th>date</th>
    </tr>
    <tr>
        <td>
            <p><a href="{% url 'get_order_details' orders.id %}" class="btn btn-primary">{{ orders.id }}</a></p>
        </td>
        <td>{{ orders.full_name}}</td>
        <td>{{ orders.date}}</td>
    </tr>
</table>
{% endfor %}

<hr>
<hr>

{% endblock %}