{% extends 'base.html' %}
{% load staticfiles%}
{% block page_title %}404 error{% endblock %}


{% block content %}
<!-- Header -->
<header class="masthead page404">
    <div class="container-fluid h-100 align-items-center">
        <div class="row">
            <div class="col-12 my-auto text-center">
                <h1 class="my-0 text-uppercase">404 Error</h1>
                <h3 class="section-subheading text-muted mb-5">We apologise for the error.</h3>

                <br>
                <button type="button" class="btn btn-primary" id="goback" ONCLICK="goPrev()">Go Back </button>
            </div>
        </div>
    </div>
</header>
{% endblock %}