{% extends 'base.html' %}
{% load staticfiles%}
{% block page_title %}404 error{% endblock %}


{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container-fluid h-100 align-items-center">
        <div class="row">
            <div class="col-md-6 my-auto text-center">
                <h1 class="my-0 text-uppercase">404 Error</h1>
                <h2 class="text-white mt-2 mb-5 text-center nowrap">Error go back</h2>
            </div>
            <div class="col-md-6 mx-auto"><img src="{% static 'img/img-masthead.png' %}" alt="Image of camera and phone"></div>
        </div>
    </div>
</header>
{% endblock %}