{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/bootstrap-solid.svg' %}" width="30" height="30" class="d-inline-block align-top"
                alt="">
            Bootstrap
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'user_profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
                <a class="nav-item nav-link" href="{% url 'get_all_bugs' %}">All Bugs</a>
                <a class="nav-item nav-link" href="{% url 'new_bug' %}">New Bug</a>
                <a class="nav-item nav-link" href="{% url 'get_all_features' %}">All Features</a>
                <a class="nav-item nav-link" href="{% url 'new_feature' %}">New Feature</a>
                <span class="nav-item nav-link">Logged in: {{ user.username }}</span>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Log in</a>
                <a class="nav-item nav-link" href="{% url 'registration' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <h1 class="mt-5">{% block page_heading %}{% endblock %}</h1>
    {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}
    <div class="searchforms mt-5">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>
        <form action="{% url 'search_ref' %}" method="get">
            <input type="text" name="q">
            <button type="submit">Search by Reference number</button>
        </form>
        <form action="{% url 'feat_search' %}" method="get">
            <input type="text" name="q">
            <button type="submit">Search Features</button>
        </form>
        <form action="{% url 'feat_search_ref' %}" method="get">
            <input type="text" name="q">
            <button type="submit">Search Features by Reference number</button>
        </form>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>