{% extends 'base_pages.html' %}
{% load bootstrap_tags %}

{% block page_heading %}Bug Comment{% endblock %}
{% block page_heading_sub %}Add a comment about this bug{% endblock %}

{% block content %}
<!-- CREATE BUG COMMENT FORM -->
<div id="issueform">
    <div class="container">
        <div class="row mb-4 mt-4 border-bottom border-success"></div>
        <div class="row">
            <div class="col-12">
                <h3>{{ bug.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-md-2 align-top">Details:</div>
            <div class="col-7 col-md-10">{{ bug.details }}</div>
        </div>
        <div class="row">
            <div class="col-5 col-md-2 my-auto">Published date:</div>
            <div class="col-7 col-md-10 my-auto">{{ bug.published_date|date:"d-m-Y" }}</div>
        </div>
        <div class="row mb-5">
            <div class="col-5 col-md-2 my-auto">Author:</div>
            <div class="col-7 col-md-10 my-auto">{{ bug.author }}</div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form | as_bootstrap }}
            <div class="text-center mb-2">
                <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                <button type="submit" name="cancel" value="Cancel" formnovalidate class="btn btn-success cancel"><i
                        class="fas fa-arrow-left"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}