{% extends "base.html" %}
{% block page_title %}Bugz detail page{% endblock %}

{% block page_heading %}Bugz Detail{% endblock %}
{% block content %}
{{ MEDIA_URL }}<br>
{{ bug.image }}
<div class="row">
    <div class="col-md-10 col-sm-9">
        {% if bug.image %}
        <img class="img-blogpost" src="{{ MEDIA_URL }}{{ bug.image }}">
        {% endif %}
        <h3>{{ bug.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>Bug ID: {{ bug.id }}</p>
                <p>BUG DETAILS: {{ bug.details }}</p>
                <p><span class="boldtext">published_date on:</span> {{ bug.published_date|date:"d-m-Y" }} </p>
                <p><span class="boldtext">Votes:</span> {{ bug.votes }}</p>
                <p><span class="boldtext">Tag:</span> {{ bug.tag }}</p>
                <p><span class="boldtext">Author:</span> {{ bug.author }}</p>
                <p><span class="boldtext">Reference:</span> {{ bug.ref }}</p>
                <p><span class="boldtext">Current Status:</span> {{ bug.status }}</p>
                <p><span class="boldtext">Views:</span> {{ bug.views }}</p>
                <p><span class="boldtext">Resloved date:</span> {{ bug.resolved_date|date:"d-m-Y" }}</p>
                <a href="{% url 'get_all_bugs' %}" class="btn btn-primary">Back To Bugs</a>
                {% if user.username == bug.author.username %}
                <a href="{% url 'edit_bug' bug.id %}" class="btn btn-secondary">Edit bug</a>
                {% endif %}
                {% if user.username != bug.author.username %}
                <a href="{% url 'vote_bug' bug.id %}" class="btn btn-secondary">Vote up</a>
                {% endif %}
                <a href="{% url 'bug_comment' bug.id %}" class="btn btn-secondary">Comment</a>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-sm-9">
        {% for bugcomment in bugcomments %}
        <div class="row">
            <div class="col-xs-9">
                <p>bugcomment id: {{ bugcomment.id }}</p>
                <p>comment: {{ bugcomment.comment }}</p>
                <p>created_date: {{ bugcomment.created_date }}</p>
                <p>author_id: {{ bugcomment.author_id }}</p>
                <p>author name: {{ bugcomment.author }}</p>
                <p>bug_id: {{ bugcomment.bug_id }}</p>
                <p>Reference: {{ bug.ref }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}