{% extends 'base_pages.html' %}
{% load bootstrap_tags %}
{% load user_tags %}
{% block page_title %}Bug details{% endblock %}

{% block page_heading %}Bug Details{% endblock %}
{% block page_heading_sub %}All the details about this Bug{% endblock %}

{% block content %}
<!-- DISPLAY BUG DETAILS -->
<div class="container-fluid">
    <div class="row mb-4 mt-4 border-bottom border-success"></div>
    <div class="row">
        <div class="col-12 text-success">
            <h3>{{ bug.title }}</h3>
        </div>
    </div>
    <div class="row mb-4">
        {% if bug.image %}
        <div class="col-12 col-md-3">
            <img class="img-blogpost" src="{{ MEDIA_URL }}{{ bug.image }}">
        </div>
        {% endif %}
        <div class="col-12 col-md-9">
            <div class="row mt-3">
                <div class="col-5 col-md-4 col-lg-3">Reference:</div>
                <div class="col-7 col-md-8 col-lg-9">{{ bug.ref }}</div>
            </div>
            <div class="row">
                <div class="col-5 col-md-4 col-lg-3">Published date:</div>
                <div class="col-7 col-md-8 col-lg-9">{{ bug.published_date|date:"d-m-Y"}}</div>
            </div>
            <div class="row">
                <div class="col-5 col-md-4 col-lg-3">Author:</div>
                <div class="col-7 col-md-8 col-lg-9">{{ bug.author }}</div>
            </div>
            <div class="row">
                <div class="col-5 col-md-4 col-lg-3">Current Status:</div>
                <div class="col-7 col-md-8 col-lg-9 text-warning">{{ bug.status }}</div>
            </div>
            <div class="row">
                <div class="col-5 col-md-4 col-lg-3">Views:</div>
                <div class="col-7 col-md-8 col-lg-9">{{ bug.views }}</div>
            </div>
            <div class="row">
                <div class="col-5 col-md-4 col-lg-3">Votes:</div>
                <div class="col-7 col-md-8 col-lg-9">{{ bug.votes }}</div>
            </div>
            {% if bug.status == 'Closed' %}
            <div class="row">
                <div class="col-5 col-md-4 col-lg-3">Resolved date:</div>
                <div class="col-7 col-md-8 col-lg-9">{{ bug.resolved_date|date:"d-m-Y" }}</div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-5 col-md-2 col-lg-2">Details:</div>
        <div class="col-7 col-md-10 col-lg-10">{{ bug.details }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-2 col-lg-2">Tag:</div>
        <div class="col-7 col-md-10 col-lg-10">{{ bug.tag }}</div>
    </div>
    <div class="row mb-4 mt-4 border-bottom border-success"></div>
    <div class="row text-center mb-4">
        <div class="col-12 col-md-3 pt-2"><a href="{% url 'get_all_bugs' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i>
                Back to Bugs</a></div>
        <!-- IF USER IS THE AUTHOR -->
        {% if user.username == bug.author.username %}
        <div class="col-12 col-md-3 pt-2"><a href="{% url 'edit_bug' bug.id %}" class="btn btn-info"><i class="far fa-edit"></i>
                Edit bug</a></div>
        {% endif %}
        <!-- IF USER IS NOT THE AUTHOR -->
        <!-- IF BUG STATUS IS NOT CLOSED -->
        <!-- IF USER HAS NOT PREVIOUSLY VOTED FOR THIS BUG -->
        {% if novote != True %}
        {% if user.username != bug.author.username %}
        {% if bug.status != 'Closed' %}
        <div class="col-12 col-md-3 pt-2">
            <a href="{% url 'vote_bug' bug.id %}" class="btn btn-info">Vote <i class="fas fa-arrow-up"></i></a>
        </div>
        {% endif %}{% endif %}
        <!-- IF USER HAS PREVIOUSLY VOTED FOR THIS BUG -->
        {% else %}
        <div class="col-12 col-md-3 pt-2">
            <a href="#" class="btn btn-light disabled">Vote <i class="fas fa-arrow-up"></i></a>
            <span class="text-nowrap small">You have previously voted for this Bug</span>
        </div>
        {% endif %}
        <!-- IF YOU ARE A SUPERUSER OR MEMBER OF ADMIN GROUP-->
        {% if request.user|has_group:"SiteContentAdmin" or user.is_superuser %}
        <div class="col-12 col-md-3 pt-2"><a href="{% url 'admin_edit' bug.id %}?type=b" class="btn btn-danger"><i
                    class="far fa-edit"></i>
                Admin Edit</a></div>
        {% endif %}
    </div>
    <div class="row mb-4 mt-4 border-bottom border-success"></div>
</div>
<!-- ADD A COMMENT -->
<div class="container-fluid commentform">
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ comment_form | as_bootstrap }}
                <div class="text-center mb-2">
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Add Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- PAGINATION -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation" class="text-lg-center">
                {% if bugcomments.has_other_pages %}
                <ul class="pagination">
                    {% if bugcomments.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ bugcomments.previous_page_number }}">Newer</a></li>
                    {% else %}
                    <li class="page-item disabled"><span><a class="page-link" href="#">Newer</a></span></li>
                    {% endif %}
                    {% for i in bugcomments.paginator.page_range %}
                    {% if bugcomments.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a> <span class="sr-only">(current)</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if bugcomments.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ bugcomments.next_page_number }}">Older</a></li>
                    {% else %}
                    <li class="page-item disabled"><span><a class="page-link" href="#">Older</a></span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</div>

<!-- COMMENTS PAGING -->
{% if bugcomments.paginator.count %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <span class="boldtext">{{ bugcomments.paginator.count }} </span> Comments in total.
        </div>
        <div class="col-12 col-md-6 text-center">
            Viewing Bug Comments {{ bugcomments.start_index }} to {{ bugcomments.end_index }}
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <span>There are no comments for this Bug.</span>
        </div>
    </div>
</div>
{% endif %}


<!-- BUG COMMENTS -->
<div id="issueform">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                {% for bugcomment in bugcomments %}
                {% if not bugcomment.is_hidden %}
                <div class="row">
                    <div class="col-12">
                        <div class="comment-box">
                            <span class="boldtext">Posted by:</span> <span class="text-success">{{ bugcomment.author }}</span>
                            <br>
                            <span class="text-success"> {{bugcomment.created_date }}</span><br>
                            {% if bugcomment.is_reported %}
                            <span class="text-danger font-italic boldtext"> *This comment has been reported</span>
                            {% endif %}
                            <p>{{ bugcomment.comment }}</p>
                            {% if bugcomment.is_reported != True %}
                            <p class="text-right"><a href="{% url 'bug_comment_report' bugcomment.id %}" class="badge badge-danger">Report</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- BACK TO TOP -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-right pb-3">
            <a href="#top">Back to Top</a> <i class="fas fa-arrow-circle-up"></i>
        </div>
    </div>
</div>
{% endblock %}