{% extends 'base_pages.html' %}
{% load bootstrap_tags %}
{% block page_title %}Submit Bug{% endblock %}

{% block page_heading %}New Bug{% endblock %}
{% block page_heading_sub %}Submit a Bug for investigation{% endblock %}

{% block content %}
<!-- CREATE OR EDIT A BUG -->
<div id="issueform">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="text-center mb-2">
                        <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                        <button type="button" class="btn btn-success cancel" id="goback" ONCLICK="goPrev()"><i class="fas fa-arrow-left"></i>
                            Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}