{% extends 'base_pages.html' %}
{% load bootstrap_tags %}
{% block page_title %}New Feature Request{% endblock %}

{% block page_heading %}New Feature Request{% endblock %}
{% block page_heading_sub %}Request a new feature to be developed{% endblock %}

{% block content %}
<!-- SUBMIT NEW FEATURE -->
<div id="issueform">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <span>Minimum of 1 hour <i class="fas fa-info-circle" data-toggle="tooltip" title="Minimum of 10 hours in total before this 
                        feature will be considered for development"></i></span>
                    <input name="quantity" type="number" min="1" max="20" class="form-control" placeholder="Quantity"
                        value="1">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success mt-1"><i class="fas fa-plus"></i> Save and Add to
                            Cart</button>
                        <button type="submit" name="cancel" value="Cancel" formnovalidate class="btn btn-success cancel mt-1"><i
                                class="fas fa-arrow-left"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}