{% extends 'base_pages.html' %}
{% block page_title %}Feature Details{% endblock %}

{% block page_heading %}Feature Details{% endblock %}
{% block page_heading_sub %}All the details about this Feature{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4 mt-4 border-bottom border-success"></div>
    <div class="row">
        <div class="col-12">
            <h3>{{ feature.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Reference:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.ref }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Details</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.details }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Published on:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.published_date|date:"d-m-Y" }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Author:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.author }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Tag:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.tag }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Status:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.status }}</div>
    </div>
    <div class="row mb-4 mt-4 border-bottom border-info"></div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Votes:</div>
        <div class="col-7 col-md-9 my-auto">{{ totals.number_of_times_ordered }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Cost per hour:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.cost_per_hour }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Views:</div>
        <div class="col-7 col-md-9 my-auto">{{ feature.views }}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Total number of hours bought:</div>
        <div class="col-7 col-md-9 my-auto align-bottom">{{ totals.total_hrs_bought }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 my-auto">Total money raised:</div>
        <div class="col-7 col-md-9 my-auto">{{ totals.total_money_raised }}</div>
    </div>
    <div class="row">
        {% if totals.total_money_raised < 500 %} <div class="col-5 col-md-3 my-auto">Total money needed:</div>
    <div class="col-7 col-md-9 my-auto">{{ totals.total_money_needed }}</div>
    {% endif %}
</div>
<div class="row mb-4 mt-4 border-bottom border-success"></div>
<div class="row text-center mb-4">
    <div class="col-12 col-md-4 pt-2"><a href="{% url 'get_all_features' %}" class="btn btn-success">Back to features</a></div>
    {% if user.username == feature.author.username %}
    <div class="col-6 col-md-4 pt-2"><a href="{% url 'edit_feature' feature.id %}" class="btn btn-info">Edit feature</a></div>
    {% endif %}
    <div class="col-6 col-md-4 pt-2">{% if user.username == feature.author.username %}
        <button type="button" class="btn btn-info donate_feature_button">Donate more</button>
        {% else %}
        <button type="button" class="btn btn-info donate_feature_button">Donate</button>
        {% endif %}
    </div>
</div>
</div>

<div id="donate_feature_form" class="hide-first mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Donate towards development of this feature</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <form method="post" action="{% url 'add_to_cart' feature.id %}" class="text-right">
                    Minimum of 1 hour
                    {% csrf_token %}
                    <input name="quantity" type="number" min="1" max="20" class="form-control" placeholder="Quantity"
                        value="1">
                    <button class="btn btn-info mt-1" type="submit">Donate</button>
                    <button type="button" class="btn btn-success donate_feature_cancel mt-1">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}