{% extends 'base_pages.html' %}
{% block page_title %}feature dtail page{% endblock %}

{% block page_heading %}Feature Detail{% endblock %}
{% block page_heading_sub %}Order overview and order details{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-sm-9">
        {% if feature.image %}
        <img class="img-blogpost" src="url('{{ MEDIA_URL }}{{ feature.image }}')">
        {% endif %}
        <h3>{{ feature.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ feature.id }}</p>
                <p>{{ feature.details }}</p>
                <p><span class="boldtext">Published on:</span> {{ feature.published_date|date:"d-m-Y" }} </p>
                <p><span class="boldtext">Votes:</span> {{ feature.votes }}</p>
                <p><span class="boldtext">Tag:</span> {{ feature.tag }}</p>
                <p><span class="boldtext">Author:</span> {{ feature.author }}</p>
                <p><span class="boldtext">Reference:</span> {{ feature.ref }}</p>
                <p><span class="boldtext">Cost per hour:</span> {{ feature.cost_per_hour }}</p>
                <p><span class="boldtext">Status:</span> {{ feature.status }}</p>
                <p><span class="boldtext">Views:</span> {{ feature.views }}</p>
                <hr>
                <p><span class="boldtext">total hrs bought:</span> {{ totals.total_hrs_bought }}</p>
                <p><span class="boldtext">total money raised:</span> {{ totals.total_money_raised }}</p>
                {% if totals.total_money_raised < 500 %} <p><span class="boldtext">total money needed:</span>
                    {{ totals.total_money_needed }}</p>
                    {% endif %}
                    <p>
                        <a href="{% url 'get_all_features' %}" class="btn btn-primary">Back To features</a>

                        {% if user.username == feature.author.username %}
                        <a href="{% url 'edit_feature' feature.id %}" class="btn btn-secondary">Edit feature</a>
                        {% endif %}

                        {% if user.username == feature.author.username %}
                        <button type="button" class="btn btn-primary donate_feature_button">Donate more</button>
                        {% else %}
                        <button type="button" class="btn btn-primary donate_feature_button">Donate</button>
                        {% endif %}
                    </p>
                    <hr>
            </div>
        </div>
    </div>
</div>

<div>{{ feature_orders }}</div>
{% for item in feature_orders %}
<div>feature_id: {{ item.feature_id}}</div>
<div>order_id: {{ item.order_id }}</div>
<div>quantity: {{ item.quantity }} hours @ 50.00 per hour = {{ item.quantity }} * 50</div>

<div>total paid: {% widthratio item.quantity 1 50 %}</div>
<hr>
{% endfor %}


<div id="donate_feature_form" class="hide-first">
    <h2>Donate form</h2>
    <form method="post" action="{% url 'add_to_cart' feature.id %}">
        minimum of 1 hour
        {% csrf_token %}
        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" value="1">
        <button class="btn btn-success" type="submit">Donate</button>
        <button type="button" class="btn btn-primary donate_feature_cancel">Cancel</button>
    </form>
</div>
{% endblock %}