{% extends 'base_pages.html' %}
{% block page_title %}All Features{% endblock %}

{% block page_heading %}All Features {% endblock %}
{% block page_heading_sub %}View all the features requested{% endblock %}

{% block content %}
{% for feature in features %}
{% if feature.status != 'Pending Payment'%}

<div class="row">
    <div class="col-md-10 col-sm-9">
        <h3>{{ feature.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ feature.id }}</p>
                <p>{{ feature.details|truncatewords:30 }}</p>
                <p><a href="{% url 'feature_detail' feature.id %}" class="btn btn-primary">Read more</a></p>
                <p><span class="boldtext">Published on:</span> {{ feature.published_date }} </p>
                <p><span class="boldtext">Votes:</span> {{feature.votes}}</p>
                <p><span class="boldtext">Tag:</span> {{ feature.tag }}</p>
                <p><span class="boldtext">Author:</span> {{ feature.author }}</p>
                <p><span class="boldtext">Reference:</span> {{ feature.ref }}</p>
                <p><span class="boldtext">cost_per_hour:</span> {{ feature.cost_per_hour }}</p>
                <p><span class="boldtext">Status:</span> {{ feature.status }}</p>
                <p><span class="boldtext">Views:</span> {{ feature.views }}</p>
            </div>
        </div>
    </div>
    <hr>
</div>

{% endif %}
{% endfor %}

{% endblock %}