{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}feature form page{% endblock %}

{% block page_heading %}feature From{% endblock %}
{% block content %}
<h1>Edit feature!</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <button type="submit" class="btn btn-info">Save</button>
    <button type="submit" name="cancel" value="Cancel" formnovalidate class="btn btn-info cancel">Cancel</button>
</form>

{% endblock %}