{% extends 'base_pages.html' %}
{% block page_title %}Feature Details{% endblock %}

{% block page_heading %}Feature Details{% endblock %}
{% block page_heading_sub %}All the details about this Feature{% endblock %}

{% block content %}
<!-- DISPLAY FEATURE DETAILS -->
<div class="container-fluid">
    <div class="row mb-4 mt-4 border-bottom border-success"></div>
    <div class="row">
        <div class="col-12">
            <h3>{{ feature.title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Reference:</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.ref }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Details</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.details }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Published on:</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.published_date|date:"d-m-Y" }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Author:</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.author }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Tag:</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.tag }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Status:</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.status }}</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 col-lg-2">Views:</div>
        <div class="col-7 col-md-9 col-lg-10">{{ feature.views }}</div>
    </div>
    <div class="row mb-4 mt-4 border-bottom border-info"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-7 col-md-7 col-lg-4">Number of subscribers:</div>
        <div class="col-5 col-md-5 col-lg-8">{{ totals.number_of_times_ordered }}</div>
    </div>
    <div class="row">
        <div class="col-7 col-md-7 col-lg-4">Cost per hour:</div>
        <div class="col-5 col-md-5 col-lg-8"><i class="fas fa-euro-sign"></i>{{ feature.cost_per_hour }}</div>
    </div>
    <div class="row">
        <div class="col-7 col-md-7 col-lg-4">Number of development hours required:</div>
        <div class="col-5 col-md-5 col-lg-8">{{ feature.dev_hours_req }} hours</div>
    </div>
    <div class="row">
        <div class="col-7 col-md-7 col-lg-4">Amount of funding required:</div>
        <div class="col-5 col-md-5 col-lg-8"><i class="fas fa-euro-sign"></i>{{ totals.total_cost_of_dev }}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-7 col-md-7 col-lg-4">Funded hours:</div>
        <div class="col-5 col-md-5 col-lg-8">{{ totals.total_hrs_bought }} hours</div>
    </div>
    <div class="row">
        <div class="col-7 col-md-7 col-lg-4">Funding raised:</div>
        <div class="col-5 col-md-5 col-lg-8"><i class="fas fa-euro-sign"></i>{{ totals.total_money_raised }}</div>
    </div>
    <!-- IF MINIMUM MONEY IS NOT RAISED SHOW  -->
    <div class="row">
        {% if totals.total_money_raised < totals.total_cost_of_dev %} <div class="col-7 col-md-7 col-lg-4">Funding
            needed:</div>
    <div class="col-5 col-md-5 col-lg-8"><i class="fas fa-euro-sign"></i>{{ totals.total_money_needed }}
        ({{ totals.total_hours_needed }} hours)</div>

    {% endif %}
</div>
<div class="row mb-4 mt-4 border-bottom border-success"></div>
<div class="row text-center mb-4">
    <!-- if you got to this page from orders view then go back to orders view -->
    {% if from_orders == True %}
    <div class="col-12 col-md-3 pt-2"><a href="{{ refering_order }}" class=" btn btn-info"><i class="fas fa-arrow-left"></i>
            Back to Order Details</a></div>
    {% else %}
    <!-- ELSE GO BACK TO ALL FEATURES VIEW -->
    <div class="col-12 col-md-3 pt-2"><a href="{% url 'get_all_features' %}" class="btn btn-success"><i class="fas fa-arrow-left"></i>
            Back to features</a></div>
    {% endif %}
    <!-- IF YOU ARE THE AUTHOR YOU CAN EDIT THE FEATURE -->
    {% if user.username == feature.author.username %}
    <div class="col-12 col-md-3 pt-2"><a href="{% url 'edit_feature' feature.id %}" class="btn btn-info"><i class="far fa-edit"></i>
            Edit feature</a></div>
    {% endif %}
    <!-- IF YOU ARE A SUPERADMIN -->
    {% if user.is_superuser %}
    <div class="col-12 col-md-3 pt-2"><a href="{% url 'admin_edit' feature.id %}?type=f" class="btn btn-danger"><i
                class="far fa-edit"></i>
            Admin Edit</a></div>
    {% endif %}
    {% if feature.status == 'Target not Reached' %}
    <!-- IF YOU CREATED THE FEATURE YOU CAN DONATE 'MORE' MONEY -->
    <div class="col-12 col-md-3 pt-2">{% if user.username == feature.author.username %}
        <button type="button" class="btn btn-info donate_feature_button"><i class="fas fa-donate"></i> Donate again</button>
        {% else %}
        <!-- ELSE DONATE MONEY -->
        <button type="button" class="btn btn-info donate_feature_button"><i class="fas fa-donate"></i> Donate</button>
        {% endif %}
    </div>
    {% endif %}
</div>
</div>

<!-- FORM TO PURCHASE HOURS TOWARDS DEVELOPMENT -->
<div id="donate_feature_form" class="hide-first mt-5 mb-5">
    <div id="issueform">
        <div class="container">
            <div class="row mb-4 mt-4 border-bottom border-success"></div>
            <div class="row">
                <div class="col-12">
                    <h3>Donate towards development of this feature</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10">
                    <form method="post" action="{% url 'add_to_cart' feature.id %}" class="text-right">
                        <span>Minimum of 1 hour <i class="fas fa-info-circle" data-toggle="tooltip" title="Minimum of 10 hours in total before this 
                                feature will be considered for development"></i></span>
                        {% csrf_token %}
                        <input name="quantity" type="number" min="1" max="20" class="form-control" placeholder="Quantity"
                            value="1">
                        <button class="btn btn-info mt-1" type="submit"><i class="fas fa-plus"></i> Add to cart</button>
                        <button type="button" class="btn btn-success donate_feature_cancel mt-1"><i class="fas fa-arrow-left"></i>
                            Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}