{% extends 'base_pages.html' %}
{% load bootstrap_tags %}
{% block page_title %}Reported comments{% endblock %}

{% block page_heading %}Reported Bug Comments{% endblock %}
{% block page_heading_sub %}Super admin: list of reported comments{% endblock %}

{% block content %}
<!-- SUPERADMIN CAN MANAGE REPORTED COMMENTS -->
<div class="container-fluid mt-4">
    <div id="issueform">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-12">
                    <!-- SHOW REPORTED COMMENTS -->
                    {% for bugcomment in bugcomments %}
                    <div class="row">
                        <div class="col-12">
                            <h4>Bug : <a href="{% url 'bug_detail' bugcomment.bug.id %}">
                                    {{ bugcomment.bug | truncatewords:10 }}</a></h4>
                        </div>
                    </div>
                    <!-- COMMENT DETAILS -->
                    <div class="row">
                        <div class="col-12">
                            <div class="comment-box">
                                Posted by: <span class="text-success">{{ bugcomment.author }}</span> on
                                <span class="text-success"> {{bugcomment.created_date }}</span><br>
                                <p>{{ bugcomment.comment }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- COMMENTS HIDDEN STATUS -->
                    <div class="row mt-2">
                        <div class="col-12">
                            {% if bugcomment.is_hidden %}
                            <p>Comment is hidden from users.</p>
                            {% else %}
                            <p>Comment is visible to users.</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- HIDE REPORTED COMMENT FROM USERS / SHOW REPORTED COMMENT and MARK AS UNREPORTED -->
                    <div class="row mt-1">
                        <div class="col-12">
                            {% if not bugcomment.is_hidden %}
                            <a href="{% url 'comment_toggle_hide' bugcomment.id %}" class="btn btn-success">Hide Bug
                                Comment</a>
                            {% else %}
                            <a href="{% url 'comment_toggle_hide' bugcomment.id %}" class="btn btn-success">UnReport
                                and
                                Show Bug Comment</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="row mb-4 mt-4 border-bottom border-success"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}